@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideIn {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}

@keyframes slideOut {
    from {
        left: 0;
    }
    to {
        left: -250px;
    }
}

.slide-up {
    opacity: 0;
    animation: slideUp 1s forwards;
}

.slide-down {
    opacity: 0;
    animation: slideDown 1s forwards;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

header {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px; 
}

.navbar ul li a {
    padding: 5px 10px;
    color: white; 
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    color: darkgoldenrod;
}

button {
    background-color: darkblue; 
    color: white; 
    border: none;
    padding: 5px 13px;
    margin-left: 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: darkgoldenrod; 
}

button.cotiza-aqui {
    font-family: "Rubik", sans-serif;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.cotiza-aqui:hover {
    background-color: darkgoldenrod;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 20px;
    z-index: 10; 
}

.logo-empresa {
    max-width: 150px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}

a.enlace {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

a.enlace.empresa {
    color: white; 
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 18px;
    animation: fadeIn 2s ease-in-out; 
    white-space: nowrap; 
    padding-left: 35px;
}

a.enlace.empresa:hover {
    color: white; 
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: left 0.3s ease;
    z-index: 1000;
    display: none; 
    flex-direction: column;
    padding: 20px;
    align-items: flex-start; 
}

.side-menu-list {
    list-style: none; 
    padding: 0;
    margin: 0;
    width: 100%; 
}

.side-menu-list li {
    margin: 10px 0; 
    width: 100%; 
}

.side-menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block; 
    width: 100%; 
    padding: 0px 10px; 
    text-align: left; 
    margin-left: 10px;
}

.side-menu.open {
    display: flex;
    left: 0; 
    animation: slideIn 0.3s forwards;
    transition: left 0.3s ease;
}

.side-menu.close {
    animation: slideOut 0.3s forwards;
    left: -250px;
    transition: left 0.3s ease;
}
.mobile-nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 25px; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 340px;
    background-color: #222;
    border-radius: 10px;
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: goldenrod;
    font-size: 35px;
    text-align: center;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 96%);
    border: 2px solid goldenrod;
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: black;
    font-size: 15px;
}

.form-txt {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: goldenrod;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 16px;
    color: goldenrod;
    border: 0;
    border-radius: 25px;
    background-color: rgba(128, 128, 128, 0.507);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover {
    padding: 30px;
}
footer {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 40px 20px; 
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto; 
}

footer .footer-content h6 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer .footer-content a {
    color: #fff;
    text-decoration: none;
}

footer .footer-content a:hover {
    text-decoration: underline; 
}

@media (max-width: 768px) {
    .container-navbar {
        display: none;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 145px;
    }
}

@media (min-width: 769px) {
    .mobile-nav {
        display: none;
    }

    .side-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    @media (max-width: 768px) {
        body {
            width: 100%;
            font-size: 16px; 
            justify-content: column;
            display: flex;
            flex-direction: column;
            padding: 100%;
        }
    
        header {
            flex-direction: row; 
            justify-content: space-between;
            align-items: center;
            padding: 25px; 
            text-align: left; 
        }

        .logo {
            top: 20px; /* Ajusta la posición vertical del logo para móviles */
            left: 1px; /* Mueve el logo más a la izquierda para móviles */
        }
    
        .logo-empresa {
            max-width: 150px; /* Reduce el tamaño máximo del logo para móviles */
        }
    
        .navbar ul {
            flex-direction: column;
        }
    
        .mobile-nav .enlace.empresa {
            margin-left: 10px;
            margin-top: 15px; 
            color: white; 
            font-size: 24px; 
            cursor: pointer; 
        }
    
        .mobile-nav .mobile-nav-toggle {
            margin-right: 10px;
            margin-top: 5px; 
            color: white; 
            font-size: 24px; 
            cursor: pointer;
        }
    }
}

@media(max-width: 990px) {
    body {
        padding: 30px;
    }
    .form {
        padding: 50px 30px;
    }
    input {
        padding: 15px;
    }
}

nav {
    text-align: center;
    padding: 10px;
}

nav > a {
    color: white;
    font-weight: 300;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

html, body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}
