@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


.slide-up {
    opacity: 0;
    animation: slideUp 1s forwards;
}

.slide-down {
    opacity: 0;
    animation: slideDown 1s forwards;
}


body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: left 0.3s ease;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {   
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px; 
}

.navbar ul li a {
    padding: 5px 13px;
    color: white; 
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    color: darkgoldenrod;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 20px;
    z-index: 10; 
}

.logo-empresa {
    max-width: 150px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}


button {
    background-color: darkblue; 
    color: white; 
    border: none;
    padding: 5px 13px;
    margin-left: 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: darkgoldenrod; 
}

button.cotiza-aqui {
    font-family: "Rubik", sans-serif;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.cotiza-aqui:hover {
    background-color: darkgoldenrod;
}

a.enlace {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

a.enlace.empresa {
    color: white; 
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 18px;
    animation: fadeIn 2s ease-in-out; 
    white-space: nowrap; 
    padding-left: 35px;
}

a.enlace.empresa:hover {
    color: white; 
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: left 0.3s ease;
    z-index: 1000;
    display: none; 
    flex-direction: column;
    padding: 20px;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu-list li {
    margin: 10px 0;
}

.side-menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu.open {
    display: flex; 
    left: 0; 
}

.mobile-nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 26px; 
}

.trabaja_con_nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    padding: 50px 20px; 
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.container-trabaja_con_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center; /* Centrar el texto dentro del contenedor */
}

.imagen-quienes-somos {
    max-width: 100%; 
    margin-top: 20px; 
    border-radius: 25px; 
    background-attachment: fixed; 
    opacity: 80%;
}

.texto-trabaja_con_nosotros {
    max-width: 100%; 
    text-align: center;
}

.texto-trabaja_con_nosotros h2 {
    font-size: 48px; /* Aumentar el tamaño del encabezado */
    margin-bottom: 20px; 
    text-align: center; /* Centrar el encabezado */
    color: white; /* Color del texto */
}

.texto-trabaja_con_nosotros p {
    font-size: 19px; 
    line-height: 1.6; 
    text-align: center; /* Centrar el texto de los párrafos */
    color: white; /* Color del texto */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color:darkblue;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 25px;
}

.btn:hover {
    background-color: goldenrod;
}

footer {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 24px 20px; 
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto; 
}

footer .footer-content h6 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer .footer-content a {
    color: #fff;
    text-decoration: none;
}

footer .footer-content a:hover {
    text-decoration: underline; 
}




@media screen and (max-width: 768px) {
    .container-navbar {
        display: none;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 145px;
    }
    
}

@media screen and (min-width: 769px) {
    .mobile-nav {
        display: none;
    }

    .side-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0; 

    }

    .container-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .navbar ul {
        flex-direction: column;
    }

    .mobile-nav .enlace.empresa {
        margin-left: 10px;
        margin-top: 15px; 
        color: white;
        font-size: 24px;
        cursor: pointer; 
    }

    .mobile-nav .mobile-nav-toggle {
        margin-right: 10px;
        margin-top: 10px; 
        color: white; 
        font-size: 24px;
        cursor: pointer; 
    }
    .logo {
        top: 24px; /* Ajusta la posición vertical del logo para móviles */
        left: 1px; /* Mueve el logo más a la izquierda para móviles */
    }

    .logo-empresa {
        max-width: 150px; /* Reduce el tamaño máximo del logo para móviles */
    }

    .trabaja_con_nosotros {
        padding: 20px;
    }

    .texto-trabaja_con_nosotros h2 {
        font-size: 32px;
    }

    .texto-trabaja_con_nosotros p {
        font-size: 16px;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
    }

    footer {
        padding: 20px;
    }

    footer .footer-content {
        padding: 0 20px;
    }

    html, body {
        overflow-x: hidden; 
        margin: 0;
        padding: 0;
    }
}