@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; 
    color: white;
}

header {
    background-color: black; 
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px; 
}

.navbar ul li a {
    padding: 10px 20px;
    color: white; 
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    color: darkgoldenrod;
}

button {
    background-color: blue; 
    color: white; 
    border: none;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: darkgoldenrod; 
}

button.cotiza-aqui {
    font-family: "Rubik", sans-serif;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.cotiza-aqui:hover {
    background-color: darkgoldenrod;
}
a.enlace {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

a.enlace.empresa {
    color: white; 
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 22px;
    animation: fadeIn 2s ease-in-out; 
    white-space: nowrap; 
    padding-left: 35px;
}

a.enlace.empresa:hover {
    color: white; 
}

.banner {
    position: relative;
    min-height: 100vh;
    background-image: url('Img/Seguridad_3.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    padding: 0 20px; 
    color: white; 
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.banner .content-banner {
    position: relative; 
    z-index: 2; 
    text-align: left; 
    padding-left: 150px;
}

.banner .content-banner p {
    text-align: left;
    font-size: 24px;
    margin: 0;
}

.banner .content-banner h2 {
    font-size: 3em;
    margin: 10px 0 0;
}


.quienes-somos {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    padding: 50px 20px; 
    background-color: black; 
}

.container-quienes-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
}

.imagen-quienes-somos {
    flex: 1;
    max-width: 50%; 
    margin-right: 20px; 
    border-radius: 25px; 
}

.texto-quienes-somos {
    flex: 1;
    max-width: 50%; 
}

.texto-quienes-somos h2 {
    font-size: 36px; 
    margin-bottom: 20px; 
}

.texto-quienes-somos p {
    font-size: 18px; 
    line-height: 1.6; 
}

.highlight {
    color: darkgoldenrod; 
}

.vision-mision {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: relative;
    z-index: 1; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
}

.header-text {
    position: absolute;
    top: 20px;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 2em; 
    z-index: 2; 
    margin-bottom: 10px;
}

.container-vision-mision {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}


.vision, .mision {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vision h2, .mision h2 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.vision p, .mision p {
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 1.6;
}


.heading-1 {
    font-size: 36px; 
    margin-bottom: 20px;
    color: black; 
}

.section-divider {
    border: 0;
    height: 4px;
    background: darkgoldenrod;
    width: 10%; 
    margin: 10px auto; 
}
.Comentarios-Clientes {
    padding: 50px 20px;
    background-color: #000000; 
    text-align: center;
}

.heading-1 {
    font-size: 45px; 
    margin-bottom: 20px;
    color: white; 
}

.container-Comentarios-Clientes {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-category {
    background: #fff; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: calc(33.333% - 40px); 
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-category:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-category h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card-category p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.card-category .client-name {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.card-category .client-position {
    font-size: 14px;
    color: #999;
}


.experiencia {
    background-color: #000000; 
    padding: 50px 20px; 
    text-align: center; 
}

.experiencia h2 {
    font-size: 36px; 
    color: #fff; 
    margin-bottom: 20px; 
    animation: slideUp 1s ease-out; 
}

.experiencia p {
    font-size: 18px; 
    color: #fff; 
    line-height: 1.6; 
    margin: 0 auto; 
    max-width: 600px; 
    animation: slideUp 1s ease-out; 
}
.cotizaciones {
    background-color: #000000;
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.cotizaciones .content {
    text-align: left; 
    max-width: 750px; 
    padding-left: 150px;
}

.cotizaciones h2 {
    font-size: 36px; 
    color: #fff; 
    margin-bottom: 20px; 
}

.cotizaciones p {
    font-size: 18px; 
    color: #fff; 
    line-height: 1.6; 
    margin: 0 auto 30px auto;
}

.cotizaciones .button-container {
    text-align: right; 
    padding-right: 300px;
}

.cotizaciones .button-container button {
    background-color: darkblue; 
    font-family: "Rubik", sans-serif; 
    color: white; 
    padding: 15px 30px; 
    font-size: 22px;
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
}

.cotizaciones .button-container button:hover {
    background-color: darkgoldenrod;
    color: white; 
}


footer {
    background-color: #000000;
    padding: 40px 20px; 
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto; 
}

footer .footer-content h6 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer .footer-content a {
    color: #fff;
    text-decoration: none;
}

footer .footer-content a:hover {
    text-decoration: underline; 
}




@media (max-width: 900px) {
    body {
        width: 100%;
        font-size: 16px; 
        justify-content: column;
        display: flex;
        flex-direction: column;
        padding: 100%;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15%;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .navbar ul li {
        margin: 8px 0;
    }

    .banner {
        padding: 30px 0;
        text-align: center;
        height: auto;
    }

    .banner .content-banner {
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .banner .content-banner p {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .banner .content-banner h2 {
        font-size: 2em;
        margin: 10px 0;
    }

    .quienes-somos {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .container-quienes-somos {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .imagen-quienes-somos,
    .texto-quienes-somos {
        max-width: 100%;
        margin: 15px 0;
        text-align: center;
    }

    .texto-quienes-somos h2 {
        font-size: 1.8em;
    }

    .texto-quienes-somos p {
        font-size: 1.2em;
    }

    .vision-mision {
        padding: 20px;
        height: auto;
        text-align: center;
    }

    .container-vision-mision {
        flex-direction: column;
        padding: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .vision,
    .mision {
       flex-direction: column;
       display: flex;
       justify-content:center;
        box-sizing: border-box;
        text-align: center;
        padding: 1px;
        padding-top: 10px;
    }

    .header-text {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        margin: 15px auto;
    }

    .Comentarios-Clientes .heading-1 {
        font-size: 1.8em;
        text-align: center;
        margin: 15px 0;
    }

    .container-Comentarios-Clientes {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        margin: 0 auto;
    }

    .card-category {
        width: 100%;
        max-width: 100%;
        margin: 15px auto;
    }

    .experiencia {
        padding: 30px;
        text-align: center;
    }

    .experiencia h2 {
        font-size: 1.8em;
        margin: 15px 0;
    }

    .cotizaciones {
        flex-direction: column;
        padding: 30px;
        align-items: center;
        text-align: center;
    }

    .cotizaciones .content,
    .cotizaciones .button-container {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
        margin: 15px auto;
    }

    .cotizaciones .button-container button {
        width: 100%;
        padding: 12px;
        font-size: 1.2em;
    }

    footer {
        padding: 30px;
        text-align: center;
    }

    footer .footer-content h6 {
        font-size: 16px;
    }

    footer .footer-content a {
        font-size: 16px;
    }
}



@media (max-width: 500px) {
    body {
        font-size: 14px; 
        justify-content: center;
        flex-direction: column;
        display: flex;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .navbar ul li {
        margin: 6px 0;
    }

    .banner {
        padding: 20px 0;
        text-align: center;
        height: auto;
    }

    .banner .content-banner {
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .banner .content-banner p {
        font-size: 1em;
        margin: 5px 0;
    }

    .banner .content-banner h2 {
        font-size: 1.5em;
        margin: 5px 0;
    }

    .quienes-somos {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .container-quienes-somos {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .imagen-quienes-somos,
    .texto-quienes-somos {
        max-width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .texto-quienes-somos h2 {
        font-size: 1.5em;
    }

    .texto-quienes-somos p {
        font-size: 1em;
    }

    .vision-mision {
        padding: 20px;
        height: auto;
        text-align: center;
        font-size: 10px;
    }

    .container-vision-mision {
        flex-direction: column;
        padding: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 10px;
    }

    .vision,
    .mision {
       flex-direction: column;
       display: flex;
       justify-content:center;
        box-sizing: border-box;
        text-align: center;
        padding: 3px;
        font-size: 10px;
    }

    .header-text {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }

    .Comentarios-Clientes .heading-1 {
        font-size: 1.5em;
        text-align: center;
        margin: 10px 0;
    }

    .container-Comentarios-Clientes {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        
    }

    .card-category {
        width: 100%;
        max-width: 100%;
        margin: 10px auto;
    }

    .experiencia {
        padding: 20px;
        text-align: center;
    }

    .experiencia h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .cotizaciones {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        text-align: center;
        
    }

    .cotizaciones .content,
    .cotizaciones .button-container {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
        margin: 10px auto;
        font-size: 15px;
    }

    .cotizaciones .button-container button {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }

    footer {
        padding: 20px;
        text-align: center;
    }

    footer .footer-content h6 {
        font-size: 10px;
    }

    footer .footer-content a {
        font-size: 14px;
    }
}



@media (max-width: 250px) {
    body {
        font-size: 15px; 
        display: flex;
        flex-direction: column;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
    }

    .navbar ul li {
        margin: 4px 0;
    }

    .banner {
        padding: 10px 0;
        text-align: center;
        height: auto;
    }

    .banner .content-banner {
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .banner .content-banner p {
        font-size: 0.9em;
        margin: 5px 0;
    }

    .banner .content-banner h2 {
        font-size: 1.2em;
        margin: 5px 0;
    }

    .quienes-somos {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    .container-quienes-somos {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .imagen-quienes-somos,
    .texto-quienes-somos {
        max-width: 100%;
        margin: 5px 0;
        text-align: center;
    }

    .texto-quienes-somos h2 {
        font-size: 1.2em;
    }

    .texto-quienes-somos p {
        font-size: 0.9em;
    }

    .vision-mision {
        padding: 20px;
        height: auto;
        text-align: center;
    }

    .container-vision-mision {
        flex-direction: column;
        padding: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .vision,
    .mision {
       flex-direction: column;
       display: flex;
       justify-content:column;
        box-sizing: border-box;
        text-align: center;
        padding: 1px;
        padding-top: 10px;
    }
    .header-text {
        font-size: 0.9em;
        width: 100%;
        text-align: center;
        margin: 5px auto;
    }

    .Comentarios-Clientes .heading-1 {
        font-size: 1.2em;
        text-align: center;
        margin: 8px 0;
    }

    .container-Comentarios-Clientes {
        flex-direction: column;
        gap: 8px;
        text-align: center;
        margin: 0 auto;
    }

    .card-category {
        width: 100%;
        max-width: 100%;
        margin: 5px auto;
    }

    .experiencia {
        padding: 10px;
        text-align: center;
    }

    .experiencia h2 {
        font-size: 1.2em;
        margin: 8px 0;
    }

    .cotizaciones {
        flex-direction: column;
        padding: 10px;
        align-items: center;
        text-align: center;
    }

    .cotizaciones .content,
    .cotizaciones .button-container {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
        margin: 8px auto;
    }

    .cotizaciones .button-container button {
        width: 100%;
        padding: 8px;
        font-size: 10px;
        align-items: center;
    }

    footer {
        padding: 8px;
        text-align: center;
    }

    footer .footer-content h6 {
        font-size: 12px;
    }

    footer .footer-content a {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    body {
        font-size: 14px; 
        justify-content: center;
        flex-direction: column;
        display: flex;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .navbar ul li {
        margin: 6px 0;
    }

    .banner {
        padding: 20px 0;
        text-align: center;
        height: auto;
    }

    .banner .content-banner {
        padding-left: 0;
        text-align: center;
        margin: 0 auto;
    }

    .banner .content-banner p {
        font-size: 1em;
        margin: 5px 0;
    }

    .banner .content-banner h2 {
        font-size: 1.5em;
        margin: 5px 0;
    }

    .quienes-somos {
        padding: 20px;
        flex-direction: column;
        text-align: center;
    }

    .container-quienes-somos {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .imagen-quienes-somos,
    .texto-quienes-somos {
        max-width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .texto-quienes-somos h2 {
        font-size: 1.5em;
    }

    .texto-quienes-somos p {
        font-size: 1em;
    }

    .vision-mision {
        padding: 20px;
        height: auto;
        text-align: center;
    }

    .container-vision-mision {
        flex-direction: column;
        padding: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .vision,
    .mision {
       flex-direction: column;
       display: flex;
       justify-content:center;
        text-align: center;
        padding: 1px;
        font-size: 5px;
    }

    .header-text {
        font-size: 1.2em;
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }

    .Comentarios-Clientes .heading-1 {
        font-size: 1.5em;
        text-align: center;
        margin: 10px 0;
    }

    .container-Comentarios-Clientes {
        flex-direction: column;
        gap: 15px;
        text-align: center;
        
    }

    .card-category {
        width: 100%;
        max-width: 100%;
        margin: 10px auto;
    }

    .experiencia {
        padding: 20px;
        text-align: center;
    }

    .experiencia h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    .cotizaciones {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        text-align: center;
        
    }

    .cotizaciones .content,
    .cotizaciones .button-container {
        max-width: 100%;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
        margin: 10px auto;
        font-size: 15px;
    }

    .cotizaciones .button-container button {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }

    footer {
        padding: 20px;
        text-align: center;
    }

    footer .footer-content h6 {
        font-size: 10px;
    }

    footer .footer-content a {
        font-size: 14px;
    }
}

/* Estilos generales */
html, body {
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
    margin: 0;
    padding: 0;
}

/* Estilos para pantallas hasta 250px */
@media (max-width: 250px) {
    body {
        font-size: 12px; /* Reduce el tamaño de fuente para pantallas muy pequeñas */
    }

    .banner .content-banner {
        padding: 0 5px; /* Reduce el padding */
    }

    .banner .content-banner p {
        font-size: 1em; /* Ajusta el tamaño de fuente */
    }

    .banner .content-banner h2 {
        font-size: 1.5em; /* Ajusta el tamaño de fuente */
    }

    .container-quienes-somos {
        padding: 5px; /* Reduce el padding */
        flex-direction: column;
    }

    .imagen-quienes-somos, .texto-quienes-somos {
        width: 100%;
        max-width: 100%;
        margin: 5px 0; /* Reduce el margen */
    }

    .cotizaciones .button-container button {
        width: 100%;
        padding: 8px;
        font-size: 0.9em;
    }

    .footer-content p {
        font-size: 0.9em; /* Ajusta el tamaño de fuente en el footer */
    }
}

/* Estilos para pantallas hasta 500px */
@media (max-width: 500px) {
    body {
        font-size: 14px; /* Ajusta el tamaño de fuente */
    }

    .banner .content-banner {
        padding: 0 10px; /* Ajusta el padding */
    }

    .banner .content-banner p {
        font-size: 1.2em; /* Ajusta el tamaño de fuente */
    }

    .banner .content-banner h2 {
        font-size: 2em; /* Ajusta el tamaño de fuente */
    }

    .container-quienes-somos {
        padding: 10px; /* Ajusta el padding */
        flex-direction: column;
    }

    .imagen-quienes-somos, .texto-quienes-somos {
        width: 100%;
        max-width: 100%;
        margin: 10px 0; /* Ajusta el margen */
    }

    .cotizaciones .button-container button {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }

    .footer-content p {
        font-size: 1em; /* Ajusta el tamaño de fuente en el footer */
    }
}

/* Estilos para pantallas hasta 900px */
@media (max-width: 900px) {
    body {
        font-size: 16px; /* Ajusta el tamaño de fuente */
    }

    header {
        flex-direction: column;
        padding: 10px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin: 5px 0; /* Ajusta el margen */
    }

    .banner {
        padding: 50px 10px; /* Ajusta el padding */
    }

    .banner .content-banner {
        padding: 0 20px; /* Ajusta el padding */
    }

    .banner .content-banner p {
        font-size: 1.5em; /* Ajusta el tamaño de fuente */
    }

    .banner .content-banner h2 {
        font-size: 2.5em; /* Ajusta el tamaño de fuente */
    }

    .container-quienes-somos {
        padding: 15px; /* Ajusta el padding */
        flex-direction: column;
    }

    .imagen-quienes-somos, .texto-quienes-somos {
        width: 100%;
        max-width: 100%;
        margin: 15px 0; /* Ajusta el margen */
    }

    .cotizaciones .button-container button {
        width: 100%;
        padding: 12px;
        font-size: 1.2em;
    }

    .footer-content p {
        font-size: 1.2em; /* Ajusta el tamaño de fuente en el footer */
    }
}
