@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


.slide-down {
    opacity: 0;
    animation: slideDown 1s forwards;
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: left 0.3s ease;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {   
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}

.container-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 10px; 
}

.navbar ul li a {
    padding: 5px 13px;
    color: white; 
    font-size: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar ul li a:hover {
    color: darkgoldenrod;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 20px;
    z-index: 10; 
}

.logo-empresa {
    max-width: 150px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
}


button {
    background-color: darkblue; 
    color: white; 
    border: none;
    padding: 5px 13px;
    margin-left: 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: darkgoldenrod; 
}

button.cotiza-aqui {
    font-family: "Rubik", sans-serif;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.cotiza-aqui:hover {
    background-color: darkgoldenrod;
}

a.enlace {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

a.enlace.empresa {
    color: white; 
    display: inline-block;
    padding: 5px 10px; 
    border-radius: 5px; 
    font-size: 18px;
    animation: fadeIn 2s ease-in-out; 
    white-space: nowrap; 
    padding-left: 35px;
}

a.enlace.empresa:hover {
    color: white; 
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: left 0.3s ease;
    z-index: 1000;
    display: none; 
    flex-direction: column;
    padding: 20px;
}

.side-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu-list li {
    margin: 10px 0;
}

.side-menu-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu.open {
    display: flex; 
    left: 0; 
}

.mobile-nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 10px; 
    top: 26px; 
}

.Servicios {
    padding: 50px 0;
    color: white;
}

.contenedor {
    width: 80%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: darkgoldenrod;
}

.Servicios-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 30%;
    height: 170px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 25px; 
    position: relative;
    cursor: pointer;
    border: 3px solid darkgoldenrod;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    will-change: transform, opacity;
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1; 
    transition: opacity 0.3s ease;
}

.imagen-port:hover > img {
    opacity: 0.2; 
}

.service-name {
    position: absolute;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: white;
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 5px;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.imagen-port:hover .service-name {
    opacity: 0; 
}

.hover-galery {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform 0.5s, opacity 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    will-change: transform, opacity;
    background-color: rgba(255, 255, 255, 0.1); 
}

.imagen-port:hover .hover-galery {
    transform: scale(1);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro al hacer hover */
}

.hover-galery img {
    width: 50px;
}

.hover-galery p {
    color: white;
    text-align: center;
}

.service-name {
    text-align: center;
    white-space: pre-line; 
}

.nuestros-empleados {
    padding: 50px 0;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.nuestros-empleados .contenedor {
    width: 80%;
    margin: 0 auto;
}

.nuestros-empleados .titulo {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: darkgoldenrod;
}

.empleados-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.empleado {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.imagen-empleado {
    width: 100%;
    height: 650px;
    overflow: hidden;
    border-radius: 25px;
    border: 3px solid darkgoldenrod;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.imagen-empleado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0.9;
    transition: opacity 0.3s ease;
}

.imagen-empleado img:hover {
    opacity: 1;
}

footer {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 40px 20px; 
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto; 
}

footer .footer-content h6 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer .footer-content a {
    color: #fff;
    text-decoration: none;
}

footer .footer-content a:hover {
    text-decoration: underline; 
}

@media screen and (max-width: 768px) {
    .container-navbar {
        display: none;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 145px;
    }
}

@media screen and (min-width: 769px) {
    .mobile-nav {
        display: none;
    }

    .side-menu {
        display: none;
    }
}


@media screen and (max-width: 768px) {

    body {
        width: 100%;
        font-size: 16px; 
        justify-content: column;
        display: flex;
        flex-direction: column;
        padding: 100%;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 25px; 
        text-align: left; 
    }

    .logo {
        top: 20px;
        left: 1px;
    }

    .logo-empresa {
        max-width: 150px;
    }

    .navbar ul {
        flex-direction: column;
    }

    .mobile-nav .enlace.empresa {
        margin-left: 10px;
        margin-top: 15px; 
        color: white; 
        font-size: 24px; 
        cursor: pointer;
    }

    .mobile-nav .mobile-nav-toggle {
        margin-right: 10px;
        margin-top: 3px; 
        color: white; 
        font-size: 24px;
        cursor: pointer; 
    }

    .container-navbar {
        justify-content: space-between;
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .navbar ul li {
        margin: 5px 0;
    }

    .Servicios-port {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagen-port {
        width: 90%;
        margin-bottom: 20px;
    }

    .empleados-port {
        flex-direction: column;
        align-items: center;
    }

    .empleado {
        width: 90%;
        margin-bottom: 20px;
    }

    .cotiza-aqui {
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .footer-content {
        text-align: center;
        padding: 15px;
    }
}

html, body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
}
